<article class="post full-mod">
  <header class="post-header" data-ng-if="!vm.post.error">
    <div class="container">
      <h1 data-ng-bind-html="::vm.post.title | sanitize" data-ng-cloak></h1>

      <ul class="post-meta list-unstyled list-inline">
        <li class="post-meta-published" data-ng-cloak>Posted <b>{{(vm.post.published * 1000) | date: 'longDate'}}</b> <span data-ng-if="vm.post.author.title">By</span> <b>{{::vm.post.author.title}}</b></li>
        <li data-ng-if="vm.post.categories" class="post-meta-categories" data-ng-cloak>
          <!-- TODO: Dynamically get blog page. -->
          Category: <a data-ng-href="{{getBlogPage()}}?category={{vm.post.categories.name}}"><b>{{vm.post.categories.name}}</b></a>
        </li>
      </ul>
    </div>
  </header>

  <div class="post-quote" data-ng-if="vm.post.featured_image.self" style="background-image: url({{vm.post.featured_image.self}});" data-ng-cloak>
    <div class="post-quote-screen"></div>
  </div>

  <div class="post-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div data-ng-if="vm.post.error">
            <div class="page-error">
              <h1>{{vm.post.error.title}}</h1>
              <p>{{vm.post.error.message}}</p>
            </div>
          </div>

          <div class="post-content" data-ng-cloak>
            <div data-ng-bind-html="::vm.post.body | sanitize"></div>

            <div class="social-share" id="social-share" data-ng-if="vm.post.body">
              <div class="row">
                <div class="col-sm-6">
                  <a href="#social-share" class="btn btn-primary btn-lg btn-block btn-facebook"
                    data-ng-click="$event.preventDefault();"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-text="{{metaData().metatags['og:description']}}"
                    socialshare-url="{{metaData().metatags['og:url']}}"
                    socialshare-media="{{metaData().metatags['og:image']}}"
                    socialshare-popup-height="400"
                    socialshare-popup-width="800"
                    socialshare-trigger="click">
                    <span class="fa fa-facebook"></span> Share on Facebook
                  </a>
                </div>
                <div class="col-sm-6">
                  <a href="#social-share" class="btn btn-primary btn-lg btn-block btn-twitter"
                    data-ng-click="$event.preventDefault();"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-display="popup"
                    socialshare-text="{{vm.post.title}}"
                    socialshare-url="{{vm.current_domain}}/{{vm.post.alias}}"
                    socialshare-hashtags="{{meta().settings.social.hashtag.substring(1)}}">
                    <!-- removes the "#" sign from the ^^ social share hastag with substring(1)-->
                    <span class="fa fa-twitter"></span> Share on Twitter
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <article class="author" data-ng-if="vm.post.author && !vm.post.author.url">
            <header class="author-header">
              <div class="author-avatar">
                <img data-ng-src="{{vm.post.author.avatar.self}}" alt="Picture of {{::vm.post.author.title}}" data-ng-cloak data-ng-if="vm.post.author.avatar.self" />
              </div>
              <div class="author-meta">
                <div class="author-title" data-ng-cloak data-ng-if="vm.post.author.title">{{::vm.post.author.title}}</div>
                <div class="author-handle" data-ng-cloak data-ng-if="vm.post.author.twitter_handle">@{{::vm.post.author.twitter_handle}}</div>
              </div>
            </header>
            <div class="author-main">
              <div data-ng-bind-html="::vm.post.author.bio | sanitize" data-ng-cloak data-ng-if="vm.post.author.bio"></div>
            </div>
          </article>
          <article data-ng-if="vm.post.author.url" data-ng-cloak>
            <p>Author: <a href="{{::vm.post.author.url}}" title="::vm.post.author.title">{{::vm.post.author.title}}</a></p>
          </article>
          <div data-ng-include=" THEME_URI + 'templates/components/newsletter.tpl.html' " data-ng-init="newsletterId='2'"></div>
          <div advertisement></div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-show="vm.post.related_posts" related datasource="vm.post.related_posts"></div>
</article>
