<div data-ng-repeat="advertisement in advertisements">
<div class="ad" data-ng-if="advertisement.ad_image.self">
  <h3 class="ad-copy" data-ng-bind-html="advertisement.title|sanitize"></h3>
  <img data-ng-src="{{advertisement.ad_image.self}}" alt="{{advertisement.ad_image.alt}}" />

  <div class="ad-inner">
      <div class="ad-action">
      <a class="btn btn-primary btn-block" data-ng-href="{{advertisement.link_url}}">{{advertisement.link_title}}</a>
    </div>
  </div>
</div>
</div>
