<section class="agenda" id="agenda">
  <div class="agenda-search-bar">
    <ul class="list-inline pull-left">
      <li data-ng-repeat="schedule in vm.agenda">
        <a
          href="#agenda"
          data-ng-click="vm.searchByDate(schedule.date); $event.preventDefault()"
          data-ng-class="{active: vm.search.date == schedule.date}">
          {{schedule.date}}
        </a>
      </li>
      <li>
        <a
          href="#agenda"
          data-ng-click="vm.searchByDate(''); $event.preventDefault()"
          data-ng-class="{active: !vm.search.date}">
          All Dates
        </a>
      </li>
    </ul>

    <ul class="list-inline pull-right filters" data-ng-show="vm.sessionTopics || vm.sessionTypes">
      <li>Filter by:</li>
      <li class="dropdown" dropdown data-ng-show="vm.sessionTypes">
        <a
          href="#agenda"
          dropdown-toggle>
          Type <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              href="#agenda"
              data-ng-click="vm.searchByType(); $event.preventDefault()"
              data-ng-class="{active: !vm.search.type}">
              All <span class="sr-only">types</span>
            </a>
          </li>
          <li data-ng-repeat="type in vm.sessionTypes">
            <a
              href="#agenda"
              data-ng-click="vm.searchByType(type.id); $event.preventDefault()"
              data-ng-class="{active: vm.search.type == type.id}">
              {{type.label}}
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown" dropdown data-ng-show="vm.sessionTopics">
        <a
          href="#agenda"
          dropdown-toggle>
          Topic <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              href="#agenda"
              data-ng-click="vm.searchByTopic(); $event.preventDefault()"
              data-ng-class="{active: !vm.search.topic}">
              All <span class="sr-only">topics</span>
            </a>
          </li>
          <li data-ng-repeat="topic in vm.sessionTopics">
            <a
              href="#agenda"
              data-ng-click="vm.searchByTopic(topic.id); $event.preventDefault()"
              data-ng-class="{active: vm.search.topic == topic.id}">
              {{topic.label}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <ul class="list-unstyled">
    <li data-ng-repeat="schedule in vm.agenda | filter: vm.filterByDate">
      <ul class="list-unstyled">
        <li data-ng-repeat="session in schedule.sessions | filter: vm.filterByType | filter: vm.filterByTopic">
          <div data-ng-include=" 'apps/uw_theme_conference/templates/components/session.teaser.tpl.html' "></div>
        </li>
      </ul>
      <p data-ng-show="vm.search.date && (agenda.schedule.sessions|filter:vm.filterByType|filter:vm.filterByTopic).length == 0">
        No sessions matched your criteria
      </p>
    </li>
  </ul>
</section>
