<section class="featured-post" data-ng-if="vm.featuredPost && vm.featuredPost.id">
  {{post=vm.featuredPost;""}}
  <div data-ng-include=" 'apps/uw_theme_conference/templates/components/post.featured.tpl.html' "></div>
</section>

<div class="container">

  <section class="posts" id="posts">
    <div class="post-search-bar">
      <div class="row">
        <div class="col-sm-6 post-search-bar-filters">
          <ul class="list-inline filters" data-ng-show="vm.categories">
            <li>{{(vm.category) ? 'Filtered By:' : 'Filter By:'}}</li>
            <li class="dropdown" dropdown>
              <a
                href="#posts"
                dropdown-toggle>
                {{vm.category || 'All'}} <span class="fa fa-caret-down"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="#posts"
                    data-ng-click="vm.searchByCategory(); $event.preventDefault()"
                    data-ng-class="{active: !vm.category}">
                    All <span class="sr-only">categories</span>
                  </a>
                </li>
                <li data-ng-repeat="category in vm.categories">
                  <a
                    href="#posts"
                    data-ng-click="vm.searchByCategory(category.name); $event.preventDefault()"
                    data-ng-class="{active: vm.category == category.name}">
                    {{category.name}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <form class="form post-search-form" data-ng-submit="vm.search()">
            <div class="form-group post-search-form-group">
              <label for="search-the-blog" class="sr-only">Search the blog</label>
              <div class="post-search-form-input">
                <input
                  id="search-the-blog"
                  type="text"
                  data-ng-model="vm.tempTerm"
                  placeholder="Search the blog"
                  class="form-control" />
              </div>
            </div>
            <button class="btn btn-primary btn-block post-search-form-button">
              <span class="fa fa-search" aria-hidden="true"></span>
              <span class="sr-only">Submit</span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div data-ng-show="vm.loading" class="loader"><img src="apps/uw_theme_conference/assets/dist/img/page-loader.gif" alt="page loader animation"></div>
    <div data-ng-if="vm.error"><p>{{vm.error}}</p></div>

    <ul class="list-unstyled">
      <li data-ng-repeat="post in vm.posts">
        <div data-ng-include=" 'apps/uw_theme_conference/templates/components/post.teaser.tpl.html' "></div>
      </li>
    </ul>

    <div class="pagination-controls" data-ng-show="vm.posts && vm.loaded < vm.count">
      <a href="#posts" class="btn btn-primary" data-ng-click="vm.loadMore(); $event.preventDefault()">
        <span data-ng-show="vm.loading">Loading Posts...</span>
        <span data-ng-hide="vm.loading">Load More Posts</span>
      </a>
    </div>
  </section>
</div>
