<section class="section contentblock-mod {{classes}}" data-ng-if="contentBlock.title || contentBlock.body">

  <header class="section-header" data-ng-if="contentBlock.title">
    <div data-ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" data-ng-bind-html="contentBlock.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-main" data-ng-if="contentBlock.body">
    <div data-ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div data-ng-bind-html="contentBlock.body|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

</section>
