<section class="section featured-speakers-mod {{vm.classes}}" data-ng-if="vm.featuredSpeakers && vm.featuredSpeakers.length > 0">

  <header class="section-header" data-ng-if="speakers.title">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" data-ng-bind-html="speakers.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" data-ng-if="speakers.intro">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div data-ng-bind-html="speakers.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main" id="section-main">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-md-9" data-ng-show="vm.loading">
          <div class="loader"><img src="apps/uw_theme_conference/assets/dist/img/page-loader.gif" alt="page loader animation"></div>
        </div>
        <ul class="list-unstyled">
          <li data-ng-repeat="speaker in vm.featuredSpeakers | orderBy:'last_name'" class="col-sm-6 col-md-3 ">
            <article class="speaker teaser-mod">
              <a href="#section-main" data-ng-click="vm.showSpeaker(speaker); $event.preventDefault();">
                <header class="speaker-header">
                  <div class="speaker-thumbnail">
                    <img data-ng-src="{{::speaker.avatar.styles.conference_speaker}}" alt="{{::speaker.label}}" tab-index="-1">
                    <div class="speaker-thumbnail-screen">
                      <span class="speaker-thumbnail-screen-text">View speaker's bio</span>
                    </div>
                  </div>
                  <p class="h5"><span class="speaker-first-name" data-ng-bind-html="::speaker.first_name | sanitize"></span> <span class="speaker-last-name" data-ng-bind-html="::speaker.last_name | sanitize"></span></p>
                  <p class="h6"><span class="speaker-job-title" data-ng-bind-html="::speaker.position | sanitize"></span><span data-ng-if="speaker.affiliation">, <span class="speaker-company" data-ng-bind-html="::speaker.affiliation | sanitize"></span></span></p>
                </header>
              </a>
              <footer class="speaker-footer" data-ng-if="speaker.twitter_handle">
                <div class="speaker-handle"><a href="https://twitter.com/{{::speaker.twitter_handle}}">@{{::speaker.twitter_handle}}</a></div>
              </footer>
            </article>
          </li>
          <li class="col-md-3 col-sm-6" data-ng-if="vm.showMore">
            <a data-ng-href="{{vm.speakersPage}}" class="and-more-button">
              <div class="and-more-top">
                <span class="fa fa-plus"></span>
              </div>
              <div class="and-more-text"><span class="and"> And</span> More</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
