<section class="section links-mod {{vm.classes}}" data-ng-if="vm.links && vm.links.links && vm.links.links.length > 0">

  <header class="section-header" data-ng-if="links.title">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" data-ng-bind-html="links.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" data-ng-if="links.intro">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div data-ng-bind-html="links.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div data-ng-class="{container: vm.layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <div data-ng-show="vm.loading" class="loader"><img src="apps/uw_theme_conference/assets/dist/img/page-loader.gif" alt="page loader animation"></div>
          <ul class="list-unstyled">
            <li data-ng-repeat="link in vm.links.links">
              <div class="post brief-mod link-mod">
                <a data-ng-href="{{link.url}}">
                  <div class="post-header">
                    <div class="h2" data-ng-bind-html="link.title|sanitize"></div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
