<section class="section location-mod no-bottom-padding {{classes}}" data-ng-if="mapLocation.latitude && mapLocation.longitude">

  <header class="section-header" data-ng-if="mapLocation.title">
    <div data-ng-class="{container: layout == 'full'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title" data-ng-bind-html="mapLocation.title|sanitize"></h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" data-ng-show="mapLocation.intro">
    <div data-ng-class="{container: layout == 'full'}">
      <div class="row">
        <div clsas="col-sm-12">
          <div data-ng-bind-html="mapLocation.intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div id="leaflet-map" data-ng-controller="leafletController">
      <leaflet lf-center="location" markers="markers" tiles="tiles" width="100%" height="480px"></leaflet>
    </div>
  </div>

</section>
