<section class="all-videos" data-ng-if="vm.videos && vm.videos.length > 0">

  <div class="row" data-ng-show="vm.loading">
    <div class="loading">
      <img src="apps/uw_theme_conference/assets/dist/img/page-loader.gif" alt="page loader animation">
    </div>
  </div>

  <div class="row" data-ng-hide="vm.loading">
    <ul class="list-unstyled videos-list">
      <li data-ng-repeat="video in vm.videos">
        <div class='embed-container'>
          <iframe data-ng-src="{{video.video_url|trustsrc}}" frameborder='0' allowfullscreen></iframe>
        </div>
        <div class="embed-title">{{video.title}}</div>
      </li>
    </ul>
  </div>

</section>
