/**
 * Buttons
 *
 * Override Bootstrap button styles and provide additional button styles.
 */

.btn {
  $btn-font-family: $headings-font-family;
  $btn-font-weight: $font-weight-bold;
  $btn-font-size: 1em;

  $btn-primary-background-hover: $gray-base;
  $btn-primary-border-hover-color: $btn-primary-background-hover;
  $btn-primary-hover-color: $body-bg;

  $btn-facebook-background: #2B5996;
  $btn-facebook-background-hover: darken($btn-facebook-background, 25%);
  $btn-facebook-border-color: $btn-facebook-background;
  $btn-facebook-border-hover-color: $btn-facebook-background-hover;
  $btn-facebook-color: white;
  $btn-facebook-hover-color: white;

  $btn-twitter-background: #1CA9D3;
  $btn-twitter-background-hover: darken($btn-twitter-background, 25%);
  $btn-twitter-border-color: $btn-twitter-background;
  $btn-twitter-border-hover-color: $btn-twitter-background-hover;
  $btn-twitter-color: white;
  $btn-twitter-hover-cover: white;

  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  white-space: normal;
  overflow-wrap: break-word;
  @include transition(all .3s ease-in);
  &.btn-primary {
    &:hover,
    &:focus {
      @include transition(all .3s ease-in);
      background-color: $btn-primary-background-hover;
      border-color: $btn-primary-border-hover-color;
      color: $btn-primary-hover-color;
      outline:0 solid transparent;
    }
  }

  // Important declratations used to override custom branding set in <head>
  &.btn-facebook,
  &.btn-twitter {
    background-color: $btn-facebook-background !important;
    border-color: $btn-facebook-border-color !important;
    color: $btn-facebook-color !important;
    margin-bottom: $grid-gutter-width/2;
    text-decoration: none;

    i {
      margin-right: 5px;
    }

    &:hover,
    &:focus {
      background-color: $btn-facebook-background-hover !important;
      border-color: $btn-facebook-border-hover-color !important;
      color: $btn-facebook-hover-color !important;
      outline: none;
    }
  }

  &.btn-twitter {
    background-color: $btn-twitter-background !important;
    border-color: $btn-twitter-border-color !important;
    color: $btn-twitter-color !important;

    &:hover,
    &:focus {
      background-color: $btn-twitter-background-hover !important;
      border-color: $btn-twitter-border-color !important;
      color: $btn-twitter-color !important;
    }
  }
}
