/**
 * Global image styles
 */

img {
  .post-content & {
    margin-bottom: $grid-gutter-width;
    max-width: 100%;
  }
}
.wis-venue-description{
    min-height:200px;
    margin:20px auto;
    display:block;

}
.wis-location-images{
    img{
      max-width: 100%;
      height:auto; 
    }
    cite{
        font-size:14px;
    }
}
.section-main{
  .organizer img{ max-width:100%;}
  }