
ul {
  .section.contentblock-mod &{
    max-width:40rem;
    display:table;
    overflow:hidden;
    margin:0 auto;
  }
  
  .post-content &,
  .session-details-body & {
    list-style: none;
    padding-left: 0;
  }
}

li {
  .post-content &,
  .session-details-body & {
    font-weight: $font-weight-light;
    margin-bottom: 20px;
    margin-left:2em;
    &:before {
      font-family: 'FontAwesome';
      content: '\f054\f054';
      margin:.75em 0 0 -1.75em;
      letter-spacing: -0.25em;
      font-size:0.55em;
      float:left;
    }

    ul {
      margin-top: 20px;

      li {
        background-position: 0px 9px;
      }

    }
  }
}


ol {
  .section.contentblock-mod &{
    max-width:40rem;
    display:table;
    margin:0 auto;
  }
  list-style-type: decimal;
  padding:0;
  li{
    .post-content &,
    .session-details-body &{
      &:before {
        display:none;
      }
    }
  } 
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}
