@mixin section-title {
  border-bottom: 3px solid #e1e1e1;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@mixin textShadow(){
    -webkit-text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 1px;
    -moz-text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 1px;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 1px;
}
@mixin flexBox(){
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center;
    box-lines: multiple;
}