<header class="banner"  >
  <div class="container">
    <a
      href="/"
      ui-sref="app.home"
      class="banner-logo"
    >
      <img
        data-ng-if="meta().settings.site_loaded && !meta().settings.site_logo"
        src="apps/uw_theme_conference/assets/dist/img/organizers/uwaterloo-dark.png"
        alt="University of Waterloo"
      />
      <img
        data-ng-if="meta().settings.site_loaded && meta().settings.site_default_logo && meta().settings.site_logo"
        data-ng-src="{{meta().settings.site_logo}}"
        alt="University of Waterloo"
      />
      <img
        data-ng-if="meta().settings.site_loaded && !meta().settings.site_default_logo && meta().settings.site_logo"
        data-ng-src="{{meta().settings.site_logo}}"
        alt="{{meta().settings.site_name}}"
      />
    </a>

    <div
      class="banner-slogan site-name-mod"
      data-ng-if="(meta().settings.site_loaded && meta().settings.site_default_logo) || (meta().settings.site_loaded && !meta().settings.site_logo)"
    >
      <div>
        <a href="/" ui-sref="app.home" class="banner-site-name">
          {{meta().settings.site_name}}
        </a>
        <div data-ng-bind-html="meta().settings.site_slogan | sanitize"></div>
      </div>
    </div>

    <div
      class="banner-slogan"
      data-ng-if="meta().settings.site_slogan && !meta().settings.site_default_logo && meta().settings.site_logo"
      data-ng-bind-html="meta().settings.site_slogan | sanitize"
    >
    </div>
  </div>
</header>
