<a data-ng-href="{{post.alias}}">
  <article class="post teaser-mod">
    <div class="row">
      <div class="col-md-4" data-ng-if="post.featured_image.self">
        <div class="post-thumbnail">
          <img data-ng-src="{{post.featured_image.self}}" alt="{{post.title}}" role="presentation">
        </div>
      </div>
      <div class="col-md-8" data-ng-class="{'col-md-8': post.featured_image.self, 'col-md-12': !post.featured_image.self}">
        <header class="post-header">
          <date>{{(post.published * 1000) | date: 'longDate' }}</date>
          <p><span class="h2" data-ng-bind-html="post.title | sanitize"></span></p>
        </header>
        <div class="post-main">
          <p>{{post.summary|strip_html}}</p>
          <p data-ng-if="!post.summary">{{post.body|truncate:true:300|strip_html}}</p>
        </div>
      </div>
    </div>
  </article>
</a>
