<article class="session teaser-mod" id="session-id-{{::session.id}}">
  <div class="row">
    <div class="col-md-3">
      <div class="session-datetime">
        <date class="session-date">{{::session.start_date}}</date>
        <time class="session-time" data-ng-if="session.start_time && session.end_time && session.start_time != session.end_time">{{::session.start_time}} - {{session.end_time}}</time>
        <time class="session-time" data-ng-if="session.start_time && session.end_time && session.start_time == session.end_time">{{::session.start_time}}</time>
        <time class="session-time" data-ng-if="session.start_time && !session.end_time">{{::session.start_time}}</time>
        <time class="session-time" data-ng-if="!session.start_time && session.end_time">{{::session.end_time}}</time>
      </div>
      <div class="session-topics" data-ng-if="session.topics" data-ng-show="false">
        <div class="h6">Topic:</div>
        <span data-ng-repeat="topic in session.topics">{{(!$last) ? topic.name + ', ' : topic.name}}</span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="session-main" data-ng-init="visibleDetails = (vm.activeSession == session.id) ? true : false" data-ng-class="{'visible-details': visibleDetails}">
        <h2 class="session-title">{{::session.title}}</h2>
        <div class="session-excerpt" data-ng-if="session.summary" data-ng-bind-html="::session.summary | sanitize"></div>

        <div class="session-details" data-ng-if="session.body || session.speakers.length || session.panelists.length || session.moderator">
          <div class="toggle-details">
            <a href data-ng-click="visibleDetails = !visibleDetails; $event.preventDefault()" data-ng-class="{'visible-details': visibleDetails}">
              <svg data-ng-show="!visibleDetails" class="toggle-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="198.424px" height="200px" viewBox="0 0 198.424 200" enable-background="new 0 0 198.424 200" xml:space="preserve"><ellipse class="toggle-back" fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="97.649" cy="98.425" rx="90.225" ry="93.7"/><g><path d="M103.259 47.794v44.73h39.625v11.42h-39.625v45.112H92.038v-45.112H52.415v-11.42h39.623v-44.73H103.259z"/></g></svg>

              <svg data-ng-show="visibleDetails" class="toggle-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="198.424px" height="200px" viewBox="0 0 198.424 200" enable-background="new 0 0 198.424 200" xml:space="preserve"><ellipse class="toggle-back" fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" cx="97.649" cy="98.425" rx="90.225" ry="93.7"/><g><path d="M142.884,103.943H52.415V92.524h90.469"/></g></svg>

              <span data-ng-hide="visibleDetails">Show Details</span>
              <span data-ng-show="visibleDetails">Hide Details</span>
            </a>
          </div>

          <div class="session-details-details fx-fade-normal" data-ng-show="visibleDetails">
            <div data-ng-if="session.body" data-ng-bind-html="::session.body| sanitize" class="session-details-body"></div>


            <div data-ng-if="session.moderator" class="session-moderators">
              <span class="h6">Moderated by</span>
              <ul class="list-unstyled">
                <li>
                  <div data-ng-if="session.moderator.label && session.moderator.affiliation">
                    <span class="moderator-name">{{session.moderator.label}}</span>, <span class="moderator-company">{{session.moderator.affiliation}}</span>
                  </div>

                  <div data-ng-if="session.moderator.label && !session.moderator.affiliation">
                    <span class="moderator-name">{{session.moderator.label}}</span>
                  </div>

                  <div data-ng-if="!session.moderator.label && session.moderator.affiliation">
                    <span class="moderator-company">{{session.moderator.affiliation}}</span>
                  </div>
                </li>
              </ul>
            </div>

            <div data-ng-if="session.panelists.length" class="session-panelists">
              <span class="h6">Panelists</span>
              <ul class="list-unstyled">
                <li data-ng-repeat="panelist in session.panelists">
                  <div data-ng-if="panelist.label && panelist.affiliation">
                    <span class="panelist-name">{{panelist.label}}</span>, <span class="panlist-company">{{panelist.affiliation}}</span>
                  </div>

                  <div data-ng-if="panelist.label && !panelist.affiliation">
                    <span class="panelist-name">{{panelist.label}}</span>
                  </div>

                  <div data-ng-if="!panelist.label && panelist.affiliation">
                    <span class="panelist-company">{{session.moderator.affiliation}}</span>
                  </div>
                </li>
              </ul>
            </div>

            <div data-ng-if="session.type != 'panel'">
              <div data-ng-if="session.speakers.length" class="session-speakers">
                <span class="h6" data-ng-if="session.speakers.length != 1">Speakers</span>
                <span class="h6" data-ng-if="session.speakers.length == 1">Speaker</span>
                <ul class="list-unstyled">
                  <li data-ng-repeat="speaker in session.speakers">
                    <div data-ng-if="speaker.title && speaker.field_profile_affiliation.und[0].value">
                      <span class="speaker-name">{{::speaker.title}}</span>, <span class="speaker-company">{{speaker.field_profile_affiliation.und[0].value}}</span>
                    </div>

                    <div data-ng-if="speaker.title && !speaker.field_profile_affiliation.und[0].value">
                      <span class="speaker-name">{{::speaker.title}}</span>
                    </div>

                    <div data-ng-if="!speaker.title && speaker.field_profile_affiliation.und[0].value">
                      <span class="speaker-company">{{speaker.field_profile_affiliation.und[0].value}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
