<section class="section sponsors-mod" data-ng-if="vm.sponsors.length && meta().settings.sponsors_carousel_enabled">

  <header class="section-header" data-ng-if="meta().settings.sponsors_carousel_title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title">{{meta().settings.sponsors_carousel_title}}</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="section-intro" data-ng-if="meta().settings.sponsors_carousel_intro">
    <div class="container">
      <div class="row">
        <div clsas="col-sm-12">
          <div data-ng-bind-html="meta().settings.sponsors_carousel_intro|sanitize"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-main">
    <div class="container">
      <div class="row">
        <slick 
        infinite="true" 
        slides-to-show=3 
        slides-to-scroll=3 
        dots="true" 
        arrows="true" 
        data-ng-if="vm.sponsors.length" 
        responsive="
          [
            {
            breakpoint: 640, 
            settings: {
              dots: true, 
              slidesToShow: 1, 
              slidesToScroll: 1
              }
            },
            {
            breakpoint: 990, 
            settings: {
              dots: true, 
              slidesToShow: 2, 
              slidesToScroll: 2
              }
            }
          ]
          ">
          <div data-ng-repeat="sponsor in vm.sponsors | orderBy: 'display_order'" class="col-md-4">
            <div class="sponsor">
              <a href="{{sponsor.link.url}}" title="{{sponsor.link.title}}">
                <img data-ng-if="sponsor.logo" data-ng-src="{{sponsor.logo.styles.conference_sponsor}}" alt="{{sponsor.logo.alt}}">
                <span data-ng-if="!sponsor.logo">{{sponsor.link.title}}</span>
                  <div class="sponsor-detail">
                    <div data-ng-if="sponsor.sponsorship_level.label" class="sponsor-level">{{sponsor.sponsorship_level.label}}</div>
                    <div class="sponsor-fullname" >{{sponsor.title}}</div>
                  </div>
              </a>
            </div>
          </div>
        </slick>
      </div>
    </div>
  </div>

</section>
