.agenda {
  $agenda-padding: $grid-gutter-width*2 0;
  min-height: 500px;
  padding: $agenda-padding;
  ul.list-unstyled{
    li {
      border-bottom:1px solid #ccc;
      ul li {
        // &:first-child{
        //   border-bottom:none;
        // }
        
       border-bottom:1px solid #ccc;
       &:last-child{
          border-bottom:none;
        }
      }

    }
    // > li:nth-child(even){
    //     background-color:#f5f5f5;
    //     .dark-gray-mod &{
    //         background-color:#757575;
    //     }
    //     .gray-mod &{
    //     background-color: #ffffff;
    //     }
    // }
  }
  a{
    &:hover{
        text-decoration:none;
    }
  }
}
