.and-more-button {
  $and-more-button-background-hover: $gray-darker;
  $and-more-button-color: $gray-base;
  $and-more-button-hover-color: $body-bg;
  $and-more-button-font-weight: $font-weight-bold;
  $and-more-button-top-background: #757575;
  $and-more-button-top-color: white;
  $and-more-button-top-font-size: 108px;
  $and-more-button-text-background-hover: $brand-border-color;

  color: $and-more-button-color;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  .and-more-top {
    background-color: $and-more-button-top-background;
    color: $and-more-button-top-color;
    height: 0;
    padding-top: 100%;
    position: relative;
    width: 100%;
    @include transition(0.3s all ease-in);

    span {
      position: absolute;
      display:block;
      top: 50%;
      left: 50%;
      font-size: $and-more-button-top-font-size;
      font-weight: $font-weight-light;
      margin-top: -($and-more-button-top-font-size/2);
      margin-left: -($and-more-button-top-font-size/2);
      text-align: center;
      width: $and-more-button-top-font-size;
      @include transition(0.3s all ease-in);
    }
  }

  &:focus .and-more-top,
  &:hover .and-more-top {
    background-color: $and-more-button-background-hover;

    span {
      color: $and-more-button-top-background;
    }

    .and-more-text {
      color: $body-bg;
      text-decoration: none;
    }
  }

  .and-more-text {
    @extend h5;

    background-color: transparent;
    color: $and-more-button-color;
    font-weight: $and-more-button-font-weight;
    line-height: 1.1em;
    margin: 0;
    padding: $grid-gutter-width/2 0;
    text-align: center;
    text-transform: uppercase;
    @include transition(all 0.3s ease-in);

    &:hover {
      color: $body-bg;
      text-decoration: none;
    }

    .and {
      font-weight: $font-weight-light;
    }
  }

  &:focus .and-more-text,
  &:hover .and-more-text {
    background-color: $and-more-button-text-background-hover;
  }
}
