.speaker {
  $speaker-margin: 50px;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
   
  }
  
  @media screen and (max-width: $container-tablet) {
    margin-bottom: $speaker-margin;
  }
}

.speaker.teaser-mod,
.speaker-keynote-mod {
  $speaker-header-color: $gray-base;
  $speaker-header-color-hover:  #fff;
  $speaker-header-background: transparent;
  $speaker-header-background-hover: $gray-base;
  $speaker-header-padding: $grid-gutter-width/2;
  $speaker-subheader-font-family: $font-family-sans-serif;
  $speaker-subheader-font-size: $font-size-extra-small;
  $speaker-subheader-font-weight: $font-weight-normal;
  $speaker-footer-color: $gray-base;
  $speaker-footer-font-size: $font-size-extra-small;
  $speaker-footer-font-weight: $font-weight-bold;
  $speaker-footer-padding: 10px;
  $speaker-link-color: $gray-base;
  $speaker-link-hover-color: $gray-base;
  $speaker-thumbnail-screen-background: rgba(0, 0, 0, 0);
  $speaker-thumbnail-screen-background-hover: rgba(0, 0, 0, 0.5);
  $speaker-thumbnail-screen-color: white;
  $speaker-thumbnail-screen-font-family: $headings-font-family;
  $speaker-thumbnail-screen-font-size: $font-size-medium;
  $speaker-thumbnail-screen-font-weight: $font-weight-bold;

  text-align: center;

  a {
    color: $speaker-link-color;
    dsplay:block;
    &:focus,
    &:hover {
      color: $speaker-link-hover-color;
    }
  }

  .speaker-header {

    .h5 {
      span{font-family: "Open Sans Condensed" ,"arial narrow";}
      font-size:24px;
      .all-speakers-mod &{
         @media (min-width: 990px){
            font-size:22px;
          }
       
      }
      @include transition(all .3s ease-in);
      white-space: normal;
      font-family: "Open Sans Condensed" ,"arial narrow";
      background-color: $speaker-header-background;
      color: $speaker-header-color;
      margin: 0;
      padding: $speaker-header-padding;
      text-transform: uppercase;

      .speaker-first-name {
        font-weight: $font-weight-light;
      }
    }

    .h6 {
      font-family: $speaker-subheader-font-family;
      font-size: $speaker-subheader-font-size;
      font-weight: $speaker-subheader-font-weight;
      line-height: 1.4;
      

      .speaker-company {
        font-weight: $font-weight-semibold;
      }
    }

    &:focus .h5,
    &:hover .h5 {
      @include transition(all .3s ease-in);
      background-color: $speaker-header-background-hover;
      color: $speaker-header-color-hover;
    }

    .speaker-thumbnail {
      position: relative;

      img {
        height: auto;
        width: 100%;
      }
    }

    .speaker-thumbnail-screen {
      position: absolute;
      top: 0;
      left: 0;

      background-color: $speaker-thumbnail-screen-background;
      display: block;
      height: 100%;
      overflow: hidden;
      @include transition(all .3s ease-in);
      width: 100%;
    }

    &:focus .speaker-thumbnail-screen,
    &:hover .speaker-thumbnail-screen {
      @media (min-width: 990px){
        background-color: $speaker-thumbnail-screen-background-hover;
      }
    }

    .speaker-thumbnail-screen-text {
      position: absolute;
      top: 50%;

      color: $speaker-thumbnail-screen-color;
      display: block;
      font-family: $speaker-thumbnail-screen-font-family;
      font-size: $speaker-thumbnail-screen-font-size;
      font-weight: $speaker-thumbnail-screen-font-weight;
      margin-top: 0;
      opacity: 0;
      text-align: center;
      @include transition(all .3s ease-in);
      width: 100%;
    }

    &:focus .speaker-thumbnail-screen-text,
    &:hover .speaker-thumbnail-screen-text {
      @media (min-width: 990px){
        margin-top: -10px;
        opacity: 1;
      }
    }
  }

  .speaker-footer {
    background: transparent url('../img/decorators/speaker-border.png') top center no-repeat;
    color: $speaker-footer-color;
    font-size: $speaker-footer-font-size;
    font-weight: $speaker-footer-font-weight;
    padding-top: $speaker-footer-padding;

    a {
      color: inherit;

      &:hover{
        color: inherit;
        text-decoration: underline;
      }
      &:focus {
        color:white;
        background:$gray-base;
        outline:none;
      }
    }
  }

  a:focus {
    .speaker-header {
      .h5 {
        background-color: $speaker-header-background-hover;
        color: $speaker-header-color-hover;
      }
      
    }

    .speaker-thumbnail-screen {
      @media (min-width: 990px){
        background-color: $speaker-thumbnail-screen-background-hover;
      }
    }

    .speaker-thumbnail-screen-text {
      @media (min-width: 990px){
        margin-top: -10px;
        opacity: 1;
      }
    }
  }
}

.mobile-speaker-trigger {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-weight: 700;
  color: #FFF;
  background-color: rgba(0,0,0,0.4);
  padding: 10px 0;
  @media (min-width: 990px){
    display: none;
  }
}
.speaker-profile{
  h2{margin-top:0;}
}