.list-tweets {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: $grid-gutter-width/2;

  .latest-tweet {
    padding-left: 60px;
    position: relative;
    text-align: left;

    span {
      position: absolute;
      top: 0;
      left: 0;
      color: #35aadd;
      font-size: 42px;
    }

    a {
      color: $gray-base;
      font-weight: $font-weight-normal;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .latest-tweet-hashtag {
    font-size: 26px;
    font-weight: $font-weight-normal;
  }

  .latest-tweet-meta {
    text-align: right;
    padding-right: 30px;
    position: relative;

    @media screen and (max-width: $container-tablet) {
      text-align: left;
    }
  }

  .latest-tweet-nav {
    position: absolute;
    bottom: 0;
    right: 0;

    a span {
      color: $gray-lighter;
      .white-mod &{
          color: $gray;
      }
      .gray-mod &{
         color: $gray;
      }
    }
  }

  .latest-tweet-actions {
    color: $gray-base;
    font-size: 16px;
    font-weight: $font-weight-light;
    text-decoration: none;

    li:first-child {
      border-right: 1px solid $gray-base;
    }

    a {
      color: $gray-base;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
