.sponsors-list {
  @include clearfix;
  align-items: center;
  text-align: center;

  li {
    float: none !important;
    display: inline-block;
    @include make-md-column(3);
    margin-bottom: $grid-gutter-width;

    img {
      max-width: 100%;
    }

    &:nth-child(4n+1) {
      clear: both;
    }

    @media screen and (max-width: $container-tablet) {
      @include make-sm-column(6);
      float: none !important;
      display: inline-block;

      &:nth-child(4n+1) {
        clear: none;
      }

      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @media screen and (max-width: $container-phone) {
      @include make-sm-column(12);
      float: none !important;
      display: block;

      &:nth-child(2n+1) {
        clear: none;
      }
    }
  }
}
