.all-speakers-mod{
  .section-title{
    margin-top:1rem;
  }
}
.speakers-list {
  $speakers-list-margin: 50px;

  @include clearfix;

  li {
    .all-speakers-mod &{
       @include make-md-column(3);
       &:nth-child(3n+1) {
        clear: inherit;
      }
      &:nth-child(4n+1) {
        clear: both;
      }
    }
    @include make-md-column(4);
    margin-bottom: $speakers-list-margin;

    &:nth-child(3n+1) {
      clear: both;
    }

    @media screen and (max-width: $container-desktop) {
      @include make-xs-column(6);

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(2n+1) {
        clear: both;
      }
    }

    @media screen and (max-width: $container-phone) {
      @include make-xs-column(12);

      &:nth-child(2n+1) {
        clear: none;
      }

      &:last-child .speaker{
        margin-bottom: 0;
      }
    }
  }
}
