.loading,
.loader {
  $loading-margin: 30px auto;
  $loading-height: 60px;
  $loading-width: $loading-height;

  width: 100%;
  & img{
    margin: $loading-margin;
    display: block;
    height: $loading-height;
    width: $loading-width;
  }
}

.loader {
  height: auto !important;
  min-height: 0 !important;
}
