#nav-toggle {
  $nav-toggle-padding: 10px 35px 16px 10px;
  $nav-toggle-bar-height: 5px;
  $nav-toggle-bar-width: 35px;
  $nav-toggle-bar-color: $gray-base;
  $nav-toggle-bar-spacing: 5px;
  $nav-toggle-mobile-breakpoint: 1200px;

  cursor: pointer;
  padding: $nav-toggle-padding;
  
  @media (min-width: $nav-toggle-mobile-breakpoint) {
    display: none;
  }
  &:focus{
    .menu-title{
      text-decoration:underline;
    }
    outline: 0 solid transparent;
  }
  span,
  span:before,
  span:after {
    position: absolute;

    background: $nav-toggle-bar-color;
    content: '';
    cursor: pointer;
    display: block;
    border-radius: 1px;
    height: $nav-toggle-bar-height;
    width: $nav-toggle-bar-width;
    @include transition(transform .3s ease-in-out);
  }

  span:before {
    top: -($nav-toggle-bar-height + $nav-toggle-bar-spacing);
  }

  span:after {
    bottom: -($nav-toggle-bar-height + $nav-toggle-bar-spacing);
  }

  &.active {
    span {
      background: transparent;
    }

    span:before,
    span:after {
      top: 0;
    }

    span:before {
      transform: rotate(45deg);
    }

    span:after {
      transform: rotate(-45deg);
    }
  }
}
