.navbar,
.navbar-inverse {
  $navbar-color: #FFFFFF;
  $navbar-font-size: $font-size-small;
  $navbar-font-weight: 600;
  $navbar-mobile-breakpoint: 1200px;
  $navbar-nav-offset: -20px;

  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
  margin-bottom: 0;
  text-transform: uppercase;

  @media screen and (max-width: $navbar-mobile-breakpoint) {
    display: none;
    text-align: right;
    &.active {
      display: block;
    }

    .container {
      width: auto;
    }
  }

  .navbar-nav {
    margin-left: $navbar-nav-offset;

    > li > a {
      color: $navbar-color;
      @include transition(all .3s ease-in);
      &.active,
      &:hover,
      &:focus {
        @include transition(all .3s ease-in);
        color: $brand-yellow;
        text-decoration:underline;
        outline:0 solid transparent;
      }
      &.active:focus{
          outline:1px solid $brand-yellow;
        }
    }

    > li > a.active {
      color: $brand-yellow;
    }
  }
}

.mobile-trigger {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.menu-title{

  color:#000000;
  position:absolute;
 
  top:36px;
  left:-3px;
 
  font-size:14px;
    @media screen and  (min-width: $container-tablet) {
        top:44px;
       
    }
}
