.newsletter {
  $newsletter-background: $brand-yellow;
  $newsletter-margin: 50px;
  $newsletter-title-font-weight: $font-weight-light;
  margin-top: $newsletter-margin/2;
  @media screen and (min-width: $container-tablet) {
    margin-top: 0;
  }
  margin-bottom: $newsletter-margin;
  .social-bar & {
    margin-bottom: 0;
  }

  .newsletter-header {
    h5 {
      font-weight: $newsletter-title-font-weight;
      text-transform: uppercase;
    }
  }

  .newsletter-form {
    background-color: $newsletter-background;
    @include clearfix;

    .form-group {
      margin-bottom: 0;
    }
  }

  .newsletter-input {
    float: left;
    width: 70%;

    .form-control {
      border-right: none;
    }
  }

  .newsletter-button {
    float: right;
    margin-left: -2px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width:1200px){
      font-size:0.75em;
      padding-top:10px;
    }
  }
}
