.post-search-bar {
  $post-search-background: #F5F5F5;
  $post-search-border-color: #999999;
  $post-search-margin: 70px 0 75px 0;
  $post-search-margin-tablet: 30px 0 35px 0;
  $post-search-input-padding: 16px;

  background-color: $post-search-background;
  border-top: 1px solid $post-search-border-color;
  margin: 35px 0 37px 0;

  @media screen and (min-width: $container-tablet) {
    margin: $post-search-margin;
  }

  .post-search-form {
    @include clearfix;
    margin-bottom:0;
    .form-group {
      margin-bottom: 0;
    }
  }

  .post-search-form-input {
    float: left;
    width: 80%;

    input.form-control {
      border-color: $post-search-border-color;
      border-top: none;
      border-right: none;
      height: auto;
      padding-top: $post-search-input-padding;
      padding-bottom: $post-search-input-padding;
      width: 100%;
    }
  }

  .post-search-form-button {
    float: right;
    height: auto;
    margin-top: -1px;
    padding-top: $post-search-input-padding;
    padding-bottom: $post-search-input-padding;
    width: 20%;

    @media screen and (max-width: $container-tablet) {
      margin-top: 0;
      padding-top: 18px;
      padding-bottom: 19px;
    }
  }

  .post-search-bar-filters ul {
    @media screen and (max-width: $container-tablet) {
      border-left: 1px solid $post-search-border-color;
      border-right: 1px solid $post-search-border-color;
      border-bottom: 1px solid $post-search-border-color;
    }
  }
}
