.social {
  $social-breakpoint: $screen-md;
  $social-margin: 50px;
  $social-padding: 5px;

  text-align: right;
  @media screen and (max-width: $social-breakpoint) {
    text-align: center;
  }

  ul {
    margin-top: $social-margin;
  }

  .list-inline li {
    padding: $social-padding;
  }
}
