.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  align-items: center;
  justify-content: center;
  
  .slick-slide {
    .sponsor {
      a{
        display:block;
        &:focus{
          outline:1px solid;
        }
      }
      img {
        max-height: 100%;
        max-width: 70%;
        display:block;
        margin:0 auto;
         @media screen and (min-width: $container-desktop) {
            max-width: 80%;
           
          }
      }
    }
  }
}
.sponsor-detail {
  margin-top: 10px;
  text-align: center;

  .sponsor-level,
  .sponsor-role,
  .sponsor-fullname {
    @extend h5;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    }
    .sponsor-fullname{
    font-size: 14px;
    font-weight: $font-weight-normal;
    margin-top: $grid-gutter-width/3;
    }
  }