.highlights-mod {
    margin-top: 0;
    margin-bottom: $grid-gutter-width*2;
    .container{
        .highlight-video-wrap{
            text-align:center;
            @include flexBox();
            &.single{
            } 
            &.double{
            }
            &.triple{
            }
        }
        .highlight-video{
            max-width:100%;
            padding-bottom: 20px;
            width:auto;
            -webkit-box-flex: 1;
            box-flex: 1;
            -webkit-flex: 1 0 30%;
            -moz-flex: 1 0 30%;
            -ms-flex: 1 0 30%;
            flex: 1 0 30%;
            @media screen and (min-width: $container-tablet) {
                // max-width:23%;
                margin:0 0.75rem;
                display:inline-block;
                &:first-child{
                    margin-left:0;
                }
                &:lastchild{
                    margin-right:0;
                }
            }
        }
    }
    &.half-mod{
      .highlight-video{
        max-width:100%;
        padding-bottom:20px;
      }  
    }
}
